
.container {
    margin: auto;
    padding: 2px;
    width: 300px;
    height: auto;
    align-items: center;
    background-color: #8fc3b7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .heading {
    margin-top: 100px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .listItem {
    margin-bottom: 0.5rem;
  }
  
  .subheading {
    margin-top: 0;
  }
  
  .sublist {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .sublistItem {
    margin-bottom: 0.25rem;
  }
  
  .loading {
    text-align: center;
    margin: 1rem;
  }
  