.container {
    margin: auto;
    padding: 1rem;
    width: auto;
    height: auto;
    background: linear-gradient(90deg, rgb(151, 196, 232) 0%, rgb(13, 174, 218) 3%, rgb(26, 99, 216) 100%);
    border-radius: 0.5rem;
    font-family: sans-serif;
  }

.logoLink {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;  
}
  
.logoImage {
    width: 100%; /* Adjust the width to your desired size */
    height: auto; /* Adjust the height to your desired size */
    align-items:center
}

.table{
    width: 100%;
    border-collapse: collapse;
  }  
  
.th{
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 40px;
    align-items: center;
  }

.td1 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    align-items: center;
    background: linear-gradient(90deg, rgb(212, 165, 121) 0%, rgb(243, 197, 181) 3%, rgb(229, 123, 123) 100%);
    border-radius: 50px;
    width: 33%;
  }
  .td2 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    align-items: center;
    background: linear-gradient(90deg, #c9dda0 0%, rgb(232, 246, 190) 3%, rgb(235, 226, 152) 100%);
    border-radius: 50px;
    width: 33%;
  }
  .td3 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    align-items: center;
    background: linear-gradient(90deg, #719e8f 0%, rgb(91, 219, 172) 3%, rgb(75, 130, 166) 100%);
    border-radius: 50px;
    width: 33%;
  }